<f:layout name="Default" />

<f:section name="main">

<div class="confirmation">

<h3 class="formtitle"><f:link.page>
    <span class="slub-forms-back2select" title="<f:translate key='slub-forms.back_to_forms' />">&larr; <f:translate key="slub-forms.back" /></span>
</f:link.page> <br />
    {form.title}</h3>

<p><f:translate key="tx_slubforms_domain_model_email.salutation" /> {email.senderName},</p>

<p><f:translate key="tx_slubforms_domain_model_email.thank_you_message" /></p>

<p><f:translate key="tx_slubforms_domain_model_email.data_received" /></p>

<ul>
<f:for each="{content}" key="fieldname" as="line">
  <f:if condition="{fieldname} != 'Captcha'">
    <li><b>{fieldname}</b>: <f:format.nl2br>{line}</f:format.nl2br></li>
  </f:if>
</f:for>
</ul>

<p><f:translate key="tx_slubforms_domain_model_email.closing" /></p>

<p>SLUB Dresden</p>
</div>

</f:section>
