<f:layout name="Default" />

<f:section name="main">

<div class="confirmation">

<h3 class="formtitle">{form.title}</h3>

<p><f:translate key="tx_slubforms_domain_model_email.salutation" /> {email.senderName},</p>

<p>Vielen Dank für Ihre Mitteilung.</p>

<p>Folgende Daten haben wir von Ihnen erhalten:</p>

<ul>
<f:for each="{content}" key="fieldname" as="line">
	<li>{fieldname}: <b>{line}</b></li>
</f:for>
</ul>

<p><f:translate key="tx_slubforms_domain_model_email.closing" /></p>

<p>SLUB Dresden</p>
</div>

</f:section>
