<f:layout name="Default" />

<f:section name="categoryTree">
	<ul>
		<f:for each="{categories}" key="id" as="category">
				<li class="slub-form-select-{id}">
					<f:if condition="{isNotFirstLevel} == 1">
						<f:then>
							<f:form.radio id="slub-form-select-{id}" property="form" value="{category.item}" checked="<sf:form.formId form='{category.item}' /> == {category.item.uid}" />
						</f:then>
					</f:if>
					<label for="slub-form-select-{id}">{category.item.title}</label>
					<f:if condition="{category.children}">
						<f:render section="categoryTree" arguments="{categories: category.children, categoriesSelected: categoriesSelected, isNotFirstLevel: '1'}" />
					</f:if>
			    </li>
		</f:for>
	</ul>
</f:section>

<f:section name="subForms">

	<f:for each="{forms}" key="formid" as="form">
		<f:if condition="<sf:form.formId form='{form.item}' /> == {formid}">
			<f:then>
				<div id="slub-forms-form-{formid}" class="slub-forms-form {form.item.shortname}">
			</f:then>
			<f:else>
				<div id="slub-forms-form-{formid}" class="slub-forms-form {form.item.shortname} hide">
			</f:else>
		</f:if>
		<h3 class="formtitle"><span class="slub-forms-back2select" title="<f:translate key='slub-forms.back_to_forms' />">&larr; <f:translate key="slub-forms.back" /></span><br>
			{form.item.title}
		</h3>
		<f:for each="{form.item.fieldsets}" key="idfieldset" as="fieldset">
			<fieldset id="slub-forms-fieldset-{formid}-{fieldset.uid}" class="slub-forms-fieldset {fieldset.shortname}">
				<legend>{fieldset.title}</legend>
				<f:for each="{fieldset.fields}" key="idfield" as="field">
					<f:render partial="Forms/{field.type}" arguments="{form: form.item, fieldset: fieldset, field: field}" />
				</f:for>
				<f:if condition="{fieldset.required}">
					<sf:form.fileValidationFooterJs form='{form.item}' fieldset='{fieldset}' />
				</f:if>
			</fieldset>
		</f:for>

		</div>

		<f:if condition="{form.children}">
			<f:render section="subForms" arguments="{forms: form.children}" />
		</f:if>
	</f:for>

</f:section>

<f:section name="singleForm">

	<f:form.radio id="slub-form-select-{form.uid}" property="form" value="{form.uid}" checked="checked" />

	<div id="slub-forms-form-{form.uid}" class="slub-forms-form {form.shortname}">

		<h3 class="formtitle">{form.title}</h3>

		<f:for each="{form.fieldsets}" key="idfieldset" as="fieldset">
			<fieldset id="slub-forms-fieldset-{form.uid}-{fieldset.uid}" class="slub-forms-fieldset {fieldset.shortname}">
				<legend>{fieldset.title}</legend>
				<f:for each="{fieldset.fields}" key="idfield" as="field">
					<f:render partial="Forms/{field.type}" arguments="{form: form, fieldset: fieldset, field: field}" />
				</f:for>
				<f:if condition="{fieldset.required}">
					<sf:form.fileValidationFooterJs form='{form}' fieldset='{fieldset}' />
				</f:if>
			</fieldset>
		</f:for>

	</div>

</f:section>

<f:section name="main">
{namespace sf=Tx_SlubForms_ViewHelpers}

<f:if condition="{forms}">
	<f:form enctype="multipart/form-data" action="create" id="slubForm" name="newEmail" object="{newEmail}" >

		<f:render partial="FormErrors" arguments="{obj: 'newEmail'}" />
		<f:render partial="FormErrors" arguments="{obj: 'field'}" />

		<f:if condition="{singleForm}">
			<f:then>
				<f:render section="singleForm" arguments="{form: singleForm}" />
			</f:then>
			<f:else>
				<div class="slub-form-tree">
					<fieldset class="cats">
					<legend class="form-cats">Formular Kategorien</legend>
					<f:render section="categoryTree" arguments="{categories: forms}" />
					</fieldset>
				</div>
				<f:render section="subForms" arguments="{forms: forms}" />
			</f:else>
		</f:if>

		<f:form.hidden property="editcode" value="<sf:format.editCode />"/>
	</f:form>

</f:if>


</f:section>
