{namespace sf=Slub\SlubForms\ViewHelpers}
<label for="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}">{field.title}
	<f:if condition="{field.required}">
		<f:then><span class="required">*</span></f:then>
	</f:if>
</label>
<f:form.checkbox id="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}" class="{f:if(condition: fieldset.required, then: 'requiregroup-{form.uid}-{fieldset.uid}')}" name="field[{fieldset.uid}][{field.uid}]" title="<f:translate key='validationerror_val_{field.validation}' />" value="1" checked="<sf:form.fieldHasValue field='{field}' /> == 1" />
<div class="altCheckElement"></div>
<label class="error" for="tx_slubforms_sf[field][{fieldset.uid}][{field.uid}]"></label>
<sf:form.CheckboxValidationFooterJs form='{form}' field='{field}' fieldset='{fieldset}' />
