{namespace sf=Slub\SlubForms\ViewHelpers}
<label for="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}">{field.title}
  <f:if condition="{field.required}">
    <f:then><span class="required">*</span></f:then>
  </f:if>
</label>
<f:form.upload id="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}"
               class="{f:if(condition: fieldset.required, then: 'requiregroup-{form.uid}-{fieldset.uid}')}"
               title="<f:translate key='slub-forms.file-accept-info' /> <sf:form.fileValidationAcceptInfo field='{field}' />"
               additionalAttributes="{onchange: 'fileSelect(event)'}"
               name="field[{fieldset.uid}][{field.uid}]" />
<button type="button" class="btn btn-default btn-sm hide" title='remove file' id="delete-file-slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}" onclick="deleteFile($('#slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}'))">X</button>
<sf:form.fileValidationFooterJs form='{form}' field='{field}' fieldset='{fieldset}' />
