{namespace sf=Slub\SlubForms\ViewHelpers}
<label for="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}">{field.title}
	<f:if condition="{field.required}">
		<f:then><span class="required">*</span></f:then>
	</f:if>
</label>
<f:form.select id="slub-forms-field-{form.uid}-{fieldset.uid}-{field.uid}" class="form-control {f:if(condition: field.required, then: 'required')}" name="field[{fieldset.uid}][{field.uid}]" title="<f:translate key='validationerror_val_{field.validation}' />" options="<sf:form.fieldSelectValue field='{field}' />" />
<label class="error" for="tx_slubforms_sf[field][{fieldset.uid}][{field.uid}]"></label>
<br />
