{namespace sf=Tx_SlubForms_ViewHelpers}

<label for="tx_slubforms_sf[field][{fieldset.uid}][{field.uid}]">{field.title}
	<f:if condition="{field.required}">
		<f:then><span class="required">*</span></f:then>
	</f:if>
</label>

<f:if condition="{field.required}">
	<f:then>
		<f:form.textfield name="field[{fieldset.uid}][{field.uid}]" value="<sf:form.fieldHasValue field='{field}' />" required="required" />
	</f:then>
	<f:else>
		<f:form.textfield name="field[{fieldset.uid}][{field.uid}]" value="<sf:form.fieldHasValue field='{field}' />" />
	</f:else>
</f:if>

