/*
    basic tool setup
    -------------------------------------------------------------------------------------
*/

.hide {
    display: none;
}

.slub-forms-form {
    float: none;
    clear: both;
}

.slub-forms-back2select {
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
    font-size: 0.6em;
    margin-bottom: 10px;
}

.slub-forms-back2select:hover {
    color: #f00;
}

.tx-slub-forms fieldset.slub-forms-fieldset {
    background: #d8e9ec;
    padding: 10px;
    margin: 30px 0;
    border: solid #9bb;
    border-width: 0 1px 1px 0;
}

.tx-slub-forms fieldset.intro {
    background: transparent;
    padding: 0;
    border: 0 none;
}

.tx-slub-forms fieldset.slub-forms-fieldset legend {
    text-align: right;
    background: #d8e9ec;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #87b4bc;
}

.tx-slub-forms fieldset.submit legend,
.tx-slub-forms fieldset.intro legend,
.tx-slub-forms fieldset.intro .field_title,
.tx-slub-forms fieldset.intro > br {
    display: none;
}


.tx-slub-forms fieldset.slub-forms-fieldset:last-child {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0 none;
}


.tx-slub-forms fieldset br {
    clear: both;
}


.tx-slub-forms .slub-forms-form label {
    display: block;
    float: left;
    width: 32%;
    font-size: 13px;
    clear: both;
    margin: 5px 10px 0 0;
}

.tx-slub-forms .slub-forms-form label[for], .tx-slub-forms .slub-forms-form label[HTMLfor] {
    cursor: pointer;
}

.tx-slub-forms input[type="text"],
.tx-slub-forms input[type="email"],
.tx-slub-forms input[type="url"],
.tx-slub-forms input[type="tel"],
.tx-slub-forms input[type="number"],
.tx-slub-forms textarea {
    padding: 6px;
    border: 1px solid;
    border-color: #9bb transparent transparent #9bb;
    display: block;
    width: 60%;
    max-width: 60%;
    margin: 2px 0;
    font-size: 13px;
    float: left;
    text-align: left;
    background: #fff;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.tx-slub-forms input[type="text"].error,
.tx-slub-forms input[type="email"].error,
.tx-slub-forms input[type="url"].error,
.tx-slub-forms input[type="tel"].error,
.tx-slub-forms input[type="number"].error,
.tx-slub-forms textarea.error {
    border-color: #900 #f00 #f00 #900;
}

.tx-slub-forms input[type="checkbox"]:focus + .altCheckElement,
.tx-slub-forms input[type="radio"]:focus + .altCheckElement,
.tx-slub-forms input[type="text"]:focus,
.tx-slub-forms input[type="email"]:focus,
.tx-slub-forms input[type="url"]:focus,
.tx-slub-forms input[type="tel"]:focus,
.tx-slub-forms input[type="number"]:focus,
.tx-slub-forms textarea:focus {
    float: left;
    color: #278;
    border-color: #278 #49c #49c #278;
    -webkit-box-shadow: 0 0 6px rgba(34, 119, 135, 0.6);
    -moz-box-shadow: 0 0 6px rgba(34, 119, 135, 0.6);
    -o-box-shadow: 0 0 6px rgba(34, 119, 135, 0.6);
    box-shadow: 0 0 6px rgba(34, 119, 135, 0.6);
}

.tx-slub-forms input[type="text"].valid,
.tx-slub-forms input[type="email"].valid,
.tx-slub-forms input[type="url"].valid,
.tx-slub-forms input[type="tel"].valid,
.tx-slub-forms input[type="number"].valid {
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHAQMAAAA77l8BAAAABlBMVEX///9Nqk1xBaSjAAAAAXRSTlMAQObYZgAAAB5JREFUeF4FwEENAAAEAMDTQAwxPAQzyY1mBcdQpAcVgQHA8g/brwAAAABJRU5ErkJggg==') no-repeat right center;
}

.tx-slub-forms label.error {
    float: none;
    padding: 10px;
    line-height: 1.4;
    color: #fff;
    background: #f00;
    position: absolute;
    right: -300px;
    width: 300px;
    margin: 0;
    z-index: 1;
}

.tx-slub-forms label.error:before {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: -10px;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent #ff0000 transparent transparent;
    content: "";
}

.tx-slub-forms input[type="checkbox"],
.tx-slub-forms input[type="radio"] {
    float: left;
    opacity: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
}

/*
  opacity: 1\9;
*/

.tx-slub-forms .altCheckElement {
    float: left;
    margin: 5px 6px 0 -28px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid;
    border-color: transparent #9bb #9bb transparent;
    display: inline-block;
    vertical-align: middle;
}

/*
  display: none\9;
*/

.tx-slub-forms input[type="checkbox"]:checked + .altCheckElement,
.tx-slub-forms input[type="radio"]:checked + .altCheckElement {
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAr0lEQVQoz2NgIAEodZSLA/EBILZmIBUANckD8S0g/g/EX4HYA5siERyaNYD4MVQzDP8E4jBkReVA/AGI7dA0GwPxazTNMDwDpIARiDuQBL8BsQ9Usz0Qf8ShuRukF6RoKhbJX1AF33BorkJ2YiTUP/+JwH+BOBNbIHlDQxafZpCrIvFFkx00ELFp/gGyhJi4NgTil2iavxGlGckQdSB+CNWMEa3EGiIHxIeA2IiQWgDbZ8S4DZyXDwAAAABJRU5ErkJggg==') no-repeat center center;
}

.tx-slub-forms input.submit {
    border: 0 none;
    border-bottom: 2px solid #900;
    background: #c00;
    padding: 10px;
    margin: 12px 0 0 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: none;
    text-align: center;
}

.anonymize-form {
    border: 0 none;
    border-bottom: 2px solid #6199A2;
    background: #87B4BC;
    padding: 10px;
    margin: 12px 0 0 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    clear: left;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: none;
    text-align: center;
}

.anonymize-form:hover {
    background: #9acad2;
}

.anonymize-form.active {
    background: #9acad2;
}

.tx-slub-forms input.submit:hover {
    background: #f00;
    border-bottom-color: #c00;
}

.tx-slub-forms input.submit:active {
    background: #f00;
    border-bottom: 0 none;
    border-top: 2px solid #c00;
}


.tx-slub-forms span.required {
    font-weight: bold;
    color: #9bb;
}

.tx-slub-forms .radiogroup {
    display: block;
    width: 60%;
    margin: 2px 0;
    font-size: 11px;
    float: left;
}

.tx-slub-forms .radiogroup input[type="radio"] {
    z-index: 1000;
    margin: 7px 3px 3px 3px;
    position: relative;
}

.tx-slub-forms .radiogroup label {
    display: inline;
    float: none;
    clear: none;
    vertical-align: middle;
}

.tx-slub-forms .radiogroup .altCheckElement {
    float: left;
    margin-top: 0;
    border-color: #9bb transparent transparent #9bb;
    position: relative;
    border-radius: 20px;
}

.tx-slub-forms .radiogroup input[type="radio"]:checked + .altCheckElement {
    float: left;
    background: #fff;
}

.tx-slub-forms .radiogroup input[type="radio"]:checked + label + .altCheckElement:after,
.tx-slub-forms .radiogroup input[type="radio"]:checked + .altCheckElement:after {
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 11px;
    height: 11px;
    border-radius: 15px;
    background: #87b4bc;
    content: "";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tx-slub-forms .field_description ol {
    list-style-type: decimal;
}

.tx-slub-forms label.error {
    display: none;
}

.tx-slub-forms select {
    padding: 6px;
    border: 1px solid;
    border-color: #9bb transparent transparent #9bb;
    display: block;
    width: 60%;
    max-width: 63%;
    margin: 2px 0;
    font-size: 13px;
    float: left;
    text-align: left;
    background: #fff;
}

.slub-form-error {
    background-color: rgba(253, 0, 0, 0.1);
    border: 2px solid #c00;
    padding: 10px;
}
