.hide { display: none; }

.tx-slub-forms fieldset {
	border: none;
}
/* submit button */
.tx-slub-forms .submit {
	width: 60%;
	float: right;
}

#leftcol ul {
	list-style: none;
	margin: 0;
}
#leftcol p {
	margin: 0;
}

#leftcol form label {
}

/* width of input labels */
#leftcol .tx-slub-forms form label  {
	width: 30%;
}
#leftcol .tx-slub-forms form label.error  {
	width: 60%;
}

/* width of label in form selection above */
#leftcol .tx-slub-forms form .cats label  {
	width: 380px;
	margin: 0;
}

#leftcol .tx-slub-forms form input[type],
#leftcol .tx-slub-forms form input[type="text"],
#leftcol .tx-slub-forms form input[type="email"],
#leftcol .tx-slub-forms form input[type="number"]
 {
	position: relative;
	border: none;
	border-bottom: 1px solid #333;
	padding: 3px;
	width: 220px;
}
/* remove up/down buttons */
.tx-slub-forms form input[type=number]::-webkit-inner-spin-button,
.tx-slub-forms form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slub-form-tree {
	display: block;

	font-size: 20px;
	line-height: 49px;
	padding: 0 20px;
	text-decoration: none;

    width = 100%;

	line-height: 100%;
}

.slub-form-tree .cats p {
	padding: 20px;
	cursor: pointer;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
	background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
	background: linear-gradient(top, #fefefe 0%, #ececec 100%);
}

.slub-form-tree ul {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1000;

	-o-box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	box-shadow: 0 3px 8px rgba(0,0,0,0.4); border-left: 1px solid #256;
	-moz-transition:left 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
	-o-transition:left 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
	transition:left 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
}


.slub-form-tree:after,
.slub-form-tree ul:after {
  content: '';
  display: block;
  clear: both;
}


/* ### Global Settings >>> colors, borders and images  ### */

.slub-form-tree .cats ul {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 16px;
	left: 230px;
}
.slub-form-tree .cats:hover > ul {
	display: block;
}

.slub-form-tree .cats ul li {
	position: relative;
	cursor: pointer;

	list-style: none;
}
#leftcol .slub-form-tree .cats ul li > ul {
	display: none;
	position: absolute;
}

#leftcol .slub-form-tree .cats ul li:hover > ul {
	display: block;
}
.slub-form-tree .cats ul:before {
    content: ' ';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #256 transparent transparent;
}

/* remove radio bullets */
.slub-form-tree .cats ul li input[type="radio"] {
    display:none;
}

/* main level link*/
.slub-form-tree .cats ul li input[type="radio"] + label {
	  border-bottom: 1px dotted #ccc;
	  filter: none;
	  display: block;
	  line-height: 120%;
	  padding: 10px;
	  margin: 0;
	  width: 360px;
	  color: #09a;
	  cursor: pointer;

}

/* sub levels link hover */
.slub-form-tree .cats li input[type="radio"] + label:hover {
  color: #fff;
  background: #09a;
}


.tx-slub-forms .error,
.tx-slub-forms .slub-form-error {
	color: red;
}
